/* CONTENT */
.sectionclube{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(/img/clube-do-vinho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.centro{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 30%;
    background-color: white;
    right: 35%;
    top: 15%;
}
.titulo h1{
    font-size: 60px;
}
.titulo {
    color: #918411;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ajuste{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ajuste p{ 
    display: flex;
    max-width: 19vw;
    font-size: 16px;
}
.ajuste button{
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}
.ajuste button:hover{
    color:white;
    background-color: #d6c319;
}
.centro input{
    height: 4vh;
    border-color: #d6c319;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    background-color: transparent;
}
.input{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.input p{
    display: flex;
    flex-direction: column;
}
.input2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input2 input{
    width: 374px;
}
.msg input{
    height: 75px;
}
input{
    outline: none;
    text-align: left;
    color: black;
}
.centro button{
    margin-top: 20px;
    color: #d6c319;
    padding: 15px 40px 15px 40px;
    border: 4px solid #d6c319;
    display: flex;
    align-items: center;
}
.msg{
    height: 10vh;
    width: 20vw;
    border-color: #d6c319;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    background-color: transparent;
}
textarea {
    width: 300px;
    max-width: 10000px;
    padding: 0px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #000000;
    outline: none;
    resize: none; /* Impede o redimensionamento manual */
    overflow: hidden; /* Evita barras de rolagem */
  }
  
  /* Estilo de foco */
  textarea:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(172, 133, 76, 0.1);
  }





  /* Estilo do toast */
  #toast-container {
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .toast {
    background-color: #b6a71cb0; /* Cor de sucesso */
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 800;
    opacity: 0;
    transform: translateX(100%); /* Inicialmente fora da tela */
    transition: opacity 0.4s, transform 0.4s;
  }
  
  /* Animação para mostrar o toast */
  .toast.show {
    opacity: 1;
    transform: translateX(0); /* Move para a posição final */
  }


  /* POP UP */

  /* Estilo para o ícone de exclamação */
.info-icon {
    font-size: 50px;
    font-weight: bold;
    color: #ff6600;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Estilo para o popup */
.popup {
    display: none; /* Inicialmente invisível */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    overflow: auto;
    padding-top: 60px;
}

/* Conteúdo do popup */
.popup-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo do botão de fechar */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo do título */
.popup-content h2 {
    margin-top: 0;
}
