/* 1170px horizontal dá problema */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-color: #f1f1f1;
    width: 100%;
}
.whatsapp{
    position: fixed;
    top: 90vh;
    right: 2.5vw;
    z-index: 1000;
    padding: 10px;
    color: white;
}
/* NAVBAR */
.cabecalho{
    display: flex;
    justify-content: space-around;
    background-image: url(/img/loja.jpg);
    background-repeat: round;
    text-align: center;
    align-items: baseline;
    height: 8vh;
    width: 100vw;
    box-shadow: 0 4px 5px rgba(255, 255, 255, 0.1);
}
#pesquisar{
    background-color: #ffffff;
    height: 35px;
    padding: 15px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#txtBusca{ 
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    text-align:left;
    height: 35px;
    width: 150px;
}
#imgbuscar{
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
    font-weight: 600;
}
.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 0 30px;
}
.navbar a:hover{
    cursor: pointer;
    color: #d6c319;
}
#perfil-carrinho{
    align-items: center;
    display: flex;
}
#perfil{
    display: flex;
    cursor: pointer;
    margin-right: 20px;
    height: 40px;
}
#carrinho{
    cursor: pointer;
    margin-left: 25px;
    height: 35px;
}
/* FOOTER */
footer {
    background-color: rgb(0, 0, 0); /* Marrom escuro */
    text-align: center;
    padding: 2px;
    bottom: 0;
    color: white;
    margin: 0;
    padding-bottom: 10px;
    width: 100vw;
}
footer p{
    font-size: 0.8rem;
}
/* CONTENT */
.sectioneno1{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url(/img/enoturismo1.jpeg);
    background-size: cover;
    margin-bottom: 2px;
}
.sectioneno2{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url(/img/enoturismo2.jpeg);
    background-size: cover;
    margin-bottom: 2px;
}
.sectioneno3{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url(/img/enoturismo3.jpeg);
    background-size: cover;
    margin-bottom: 2px;
}
.fundoescuro{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.521);
    margin: 14vw 20vw 0 20vw;
    padding: 3vw;
    text-align: center;
    color: white;
}
.fundoescuro h1{
    font-size: 46px;
    margin: 0;
}
.fundoescuro p{
    font-size: 26px;
}