body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f1f1f1;
}
.whatsapp{
    position: fixed;
    top: 90vh;
    right: 2.5vw;
    z-index: 1000;
    padding: 10px;
    color: white;
}
/* NAVBAR */
.cabecalho{
    display: flex;
    width: 100vw;
    height: 20vh;
    background-color: #cfcfcf;
    font-size: 12px;
    justify-content: center;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}
.cabecalho h1{
    font-weight: 300;
}
.cabecalho2{
    display: flex;
    justify-content: space-evenly;
    background-color: #dfdfdf;
    color: black;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
#pesquisar{
    background-color: #ffffff;
    height: 35px;
    padding: 15px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#txtBusca{ 
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    text-align:left;
    height: 35px;
    width: 150px;
}
#imgbuscar{
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
    font-weight: 600;
}
.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: rgba(44, 44, 44, 0.952); /* Marrom escuro */
    margin: 0 30px;
}
.navbar a:hover{
    cursor: pointer;
    color: #0b60af;
}
#perfil-carrinho{
    align-items: center;
    display: flex;
}
#perfil{
    display: flex;
    cursor: pointer;
    margin-right: 20px;
    height: 40px;
}
#carrinho{
    cursor: pointer;
    margin-left: 25px;
    height: 35px;
}
/* FOOTER */
footer {
    background-color: rgb(219, 219, 219); /* Marrom escuro */
    color: rgb(85, 85, 85);
    text-align: center;
    padding: 2px;
    bottom: 0;
    margin: 0;
    padding-bottom: 10px;
    width: 100vw;
}
footer p{
    font-size: 0.8rem;
}
/* SLIDES*/
.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.quadroslide{
    margin-bottom: 10px;
    width: 90vw;
    height: 600px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 600px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}
.slide img{
    width: 100%;
    height: 100%;
}
.manual-navigation{
    position: absolute;
    width: 90vw;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    padding: 4.5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    background-color: rgb(0, 0, 0);
    padding: 4.5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}
.navigation-auto{
    position: absolute;
    width: 90vw;
    margin-top: 610px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #c45100;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #c45100;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #c45100;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #c45100;
}
/* CONHEÇA! */
.conheca{
    display: block;
    margin: 0px auto 20px;
    max-width: 1200px;
    background-color: #F5F5F5;
    border: 1px solid #ebebeb;
    border-radius:  5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    flex-basis: calc(25% - 20px);
}
.titulo-conheca{
    display: flex;
    justify-content: center;
}
.texto-conheca{
    display: flex;
    text-align: center;
    justify-content: center;
}
/* RECOMENDADOS */
.recomendados {
    margin: 0px auto 20px;
    max-width: 1200px;
}
.produtos-recomendado {
    display: flex;
    justify-content: space-between;
}
.produto-recomendado {
    background-color: #F5F5F5;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-basis: calc(25% - 20px);
    padding: 20px;
    min-width: 220px;
    text-align: center;
}
.produto-recomendado img {
    max-width: 100%;
}
.produto-recomendado button {
    background-color: #c45100;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.produto-recomendado button:hover {
    background-color: #ff6a00;
}
.preco-recomendado {
    color: black;
}
/* 1º SEÇÃO DE IMAGENS */
.tamanho-imagens{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-evenly;
}
.imagens{
    display: flex;
}
.imagens img{
    margin: 10px;
    width: 700px;
    height: 300px;
}
/* OFERTA ESPECIAL */
.oferta-especial {
    margin: 0px auto 20px;
    max-width: 1200px;
}
.produtos-oferta {
    display: flex;
    justify-content: space-between;
}
.produto-oferta {
    background-color: #F5F5F5;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-basis: calc(25% - 20px);
    padding: 20px;
    min-width: 220px;
    text-align: center;
}
.produto-oferta img {
    max-width: 100%;
}
.produto-oferta button {
    background-color: #c45100;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.produto-oferta button:hover {
    background-color: #ff6a00;
}
.desconto {
    background-color: #FFF;
    border-radius: 3px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
}
.preco-original {
    text-decoration: line-through;
    color: #888;
}
.preco-desconto {
    color: black;
}