/* 1170px horizontal dá problema */

/* 
.color1 { #ac854c };
.color2 { #edd186 };
.color3 { #edd186 };
.color4 { #9c8c61 };
.color5 { #edd186 }; 
*/
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-color: #f1f1f1;
    width: 100%;
}
.whatsapp{
    position: fixed;
    top: 90vh;
    right: 2.5vw;
    z-index: 1000;
    padding: 10px;
    color: white;
}
/* NAVBAR */
.cabecalho{
    display: flex;
    justify-content: space-around;
    background-image: url(/img/inicio.jpg);
    background-repeat: round no-repeat;
    text-align: center;
    align-items: baseline;
    height: 100vh;
    width: 100vw;
    box-shadow: 0 4px 5px rgba(255, 255, 255, 0.1);
}
#pesquisar{
    background-color: #ffffff;
    height: 35px;
    padding: 15px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#txtBusca{ 
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    text-align:left;
    height: 35px;
    width: 150px;
}
#imgbuscar{
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
    font-weight: 600;
}
.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.952);
    margin: 0 30px;
}
.navbar a:hover{
    cursor: pointer;
    color: #d6c319;
}
#perfil-carrinho{
    align-items: center;
    display: flex;
}
#perfil{
    display: flex;
    cursor: pointer;
    margin-right: 20px;
    height: 40px;
}
#carrinho{
    cursor: pointer;
    margin-left: 25px;
    height: 35px;
}
/* FOOTER */
footer {
    background-color: rgb(0, 0, 0); /* Marrom escuro */
    text-align: center;
    padding: 2px;
    bottom: 0;
    color: white;
    margin: 0;
    padding-bottom: 10px;
    width: 100vw;
}
footer p{
    font-size: 0.8rem;
}
/* CONHEÇA! */
.conheca{
    display: block;
    margin: 0px auto 20px;
    max-width: 1200px;
    background-color: #F5F5F5;
    border: 1px solid #ebebeb;
    border-radius:  5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    flex-basis: calc(25% - 20px);
}
.titulo-conheca{
    display: flex;
    justify-content: center;
}
.texto-conheca{
    display: flex;
    text-align: center;
    justify-content: center;
}
/* RECOMENDADOS */
.recomendados{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto 20px;
    max-width: 1200px;
    font-size: 28px;
    color: black;
}
.produtos-recomendado {
    display: flex;
    justify-content: space-between;
}
.produto-recomendado {
    background-color: #F5F5F5;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 220px;
    color: black;
    font-size: 16px;
    text-align: center;
}
.produto-recomendado img {
    max-width: 100%;
}
.produto-recomendado button {
    background-color: #c45100;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.produto-recomendado button:hover {
    background-color: #ff6a00;
}
.preco-recomendado {
    color: black;
}
/* 1º SEÇÃO DE IMAGENS */
.tamanho-imagens{
    display: flex;
    justify-content: center;
    background-color: rgb(237, 230, 215);
}
.imagens{
    display: flex;
}
.imagens img{
    width: 80vw;
    height: 90vh;
}
/* OFERTA ESPECIAL */
.oferta-especial {
    margin: 0px auto 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    font-size: 28px;
}
.produtos-oferta {
    display: flex;
    justify-content: space-between;
}
.produto-oferta {
    background-color: #F5F5F5;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-basis: calc(25% - 20px);
    padding: 20px;
    min-width: 220px;
    color: black;
    font-size: 16px;
    text-align: center;
}
.produto-oferta img {
    max-width: 100%;
}
.produto-oferta button {
    background-color: #c45100;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.produto-oferta button:hover {
    background-color: #ff6a00;
}
.desconto {
    background-color: #FFF;
    border-radius: 3px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
}
.preco-original {
    text-decoration: line-through;
    color: #888;
}
.preco-desconto {
    color: black;
}