/* Carrinho NavBar */
.carrinho-de-compras{
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 100px;
    height: 35px;
    transition: 0.3s;
}
.carrinho-de-compras:hover{
    top: 22.5px;
    right: 98.5px;
    height: 40px;
}
/* CONTENT */
#titulo{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: #000000;
}
.section{
  min-height: 80vh;
    padding: 30px;
    display: flex;
}
/* SIDERBAR ESQUERDA */
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15vw;
}
/* CONTENT DIREITA */
.busca-vinhos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90vw;
}
/* Content Vinho */
.info{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
/* Vinhos Produtos */
.produtovinho{
    background-color: #f5f5f5;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 220px;
    color: black;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 350px;
}
.visual{
    position: absolute;
    display: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    background-color: #ac854c;
    justify-content: center;
    padding: 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.produtovinho:hover .visual{
    display: flex;
}
.vinho-item--img-style{
    max-width: 100%;
    height: 215px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.vinho-item--name{
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin: 0 0 10px;
}
.vinho-item--price{
    font-weight: 700;
    font-size: 16px;
    color: #535353;
    margin: 0 0 15px;
}
.vinho-item--add{
    padding-block: 1px;
    padding-inline: 6px;
    background-color: #ac854c;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.vinho-item--add:hover{
    background-color: rgb(99, 66, 18);
}

.filter-options{
    text-decoration: none;
    marker: none;
    list-style: none;
}

  /* Estilo do Carrinho */
  .cart-container {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: #fff;
    box-shadow: -4px 0 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: none;
    overflow-y: auto;
    transition: 0.3s;
  }
  .cart-container h2{
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
  }
  .cart-items {
    margin-bottom: 150px;
  }
  .cart-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  .cart-item--img-style{
    height: 125px;
  }
  .titulocarrinho{
    font-size: 20px;
    font-weight: 500;
  }
  .empty-cart {
    text-align: center;
    padding: 60px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .empty-cart p {
    font-size: 48px;
    color: #555;
    margin-bottom: 60px;
  }
  .empty-cart .btn-continue {
    display: inline-block;
    background-color: #ac854c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
  }
  .empty-cart .btn-continue:hover {
    background-color: rgb(99, 66, 18);
  }
  .cart-buttons{
    display:inline-flex;
    justify-content: center;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
  }
  .remove-btn{
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
  }
  .decrease-btn{
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
  }
  .quantity-btn{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
  }
  .increase-btn{
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
  }
  .cart-item--price{
    font-weight: 700;
    font-size: 16px;
    color: #535353;
  }
  .total-price{
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .checkout-button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ac854c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease;
  }
  .checkout-button:hover {
    background-color: rgb(99, 66, 18);
  }
  /* Estilo do botão de abrir o carrinho */
  .close-cart-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .close-cart-button:hover {
    color: red;
  }

  /* Estilo do filtro de tipo */

  /* Filtros */
.filters {
  margin: 20px 0;
  padding: 15px;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Título dos Filtros */
.filters h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #363636;
}

/* Lista de opções de filtro */
.filter-options {
  list-style: none; /* Remove os marcadores da lista */
  padding: 0;
  margin: 0;
}

/* Itens individuais da lista */
.filter-options li {
  margin-bottom: 8px;
}

/* Estilo do label */
.filter-options label {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}

/* Estilo do checkbox */
.filter-checkbox {
  margin-right: 10px;
  width: 16px;
  height: 18px;
  accent-color: #ac854c; /* Define a cor personalizada do checkbox */
  cursor: pointer;
}

/* Efeito ao passar o mouse sobre as opções */
.filter-options label:hover {
  color: #ac854c;
}

/* Filtro de Preço */
#preco {
  margin: 0px;
}

/* Estilo para o select do filtro de preço */
#precoFaixa {
  width: 200px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
}

/* Filtro de preço com hover */
#precoFaixa:hover {
  border-color: #ac854c;
}
