body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f1f1f1;
}
/* NAVBAR */
header {
    background-color: #FFF;
    color: black;
    padding: 2px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
nav {
    display: flex;
    background-color: #FFF;
    align-items: center;
    padding: 3px;
    text-align: center;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(66, 66, 66); /* Marrom escuro */
    margin: 0 30px;
}
#marca a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    cursor: pointer;
    color: #8B4513;
}
#pesquisar{
    height: 50px;
    margin-left: 40px;
    cursor: pointer;
}
#car-tamanho{
    margin-left: 40px;
    height: 60px;
    cursor: pointer;
}
/* FOOTER */
footer {
    background-color: rgb(219, 219, 219); /* Marrom escuro */
    color: rgb(85, 85, 85);
    text-align: center;
    padding: 2px;
    bottom: 0;
    margin: 0;
    padding-bottom: 10px;
    width: 100vw;
}
footer p{
    font-size: 0.8rem;
}