/* 1170px horizontal dá problema */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-color: #f1f1f1;
    width: 100%;
}
.whatsapp{
    position: fixed;
    top: 90vh;
    right: 2.5vw;
    z-index: 1000;
    padding: 10px;
    color: white;
}
/* NAVBAR */
.cabecalho{
    display: flex;
    justify-content: space-around;
    background-image: url(/img/loja.jpg);
    background-repeat: round;
    text-align: center;
    align-items: baseline;
    height: 8vh;
    width: 100vw;
    box-shadow: 0 4px 5px rgba(255, 255, 255, 0.1);
}
#pesquisar{
    background-color: #ffffff;
    height: 35px;
    padding: 15px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#txtBusca{ 
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    text-align:left;
    height: 35px;
    width: 150px;
}
#imgbuscar{
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
    font-weight: 600;
}
.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.952);
    margin: 0 30px;
}
.navbar a:hover{
    cursor: pointer;
    color: #d6c319;
}
#perfil-carrinho{
    align-items: center;
    display: flex;
}
#perfil{
    display: flex;
    cursor: pointer;
    margin-right: 20px;
    height: 40px;
}
#carrinho{
    cursor: pointer;
    margin-left: 25px;
    height: 35px;
}
/* FOOTER */
footer {
    background-color: rgb(0, 0, 0); /* Marrom escuro */
    text-align: center;
    padding: 2px;
    bottom: 0;
    color: white;
    margin: 0;
    padding-bottom: 10px;
    width: 100vw;
}
footer p{
    font-size: 0.8rem;
}
/* Section vinho1 */
.sair{
    font-size: 30px;
    position: absolute;
    display: flex;
    text-decoration: none;
    color: red;
    flex-direction: row-reverse;
    right: 6vw;
    top: 15vh;
}
.sectionvinho {
    background-color: rgb(243, 243, 243);
    display: flex;
    height: 82vh;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.direita{
    padding: 0;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.gap{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.gap2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.gap2 p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}
.imgvinho{
    height: 65vh;
}
.titulo{
    font-size: 32px;
    font-weight: 900;
}
.nmr{
    display: flex;
    height: 45px; 
    width: 45px;
    font-size: 16px;
    font-weight: 600;
}
.price{
    font-size: 28px;
    font-weight: 700;
    color: black;
    margin: 0;
}
.gap a {
    margin-top: 5px;
    background-color: rgb(122, 16, 16);
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.gap a:hover {
    background-color: rgb(75, 10, 10);
}
/* Section2 */
.section2{
    height: 55vh;
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}
.caracteristicas{
    border-top: #ac854c solid 2px;
    border-bottom: #ac854c solid 2px;
    width: 65vw;
    padding: 10px;
    height: 50vh;
    display: flex;
    flex-direction: column;
}