/* Voltar */
.voltar{
    height: 80px;
    right: 10vw;
    position: absolute;
}
/* Section vinho1 */
.sair{
    font-size: 30px;
    position: absolute;
    display: flex;
    text-decoration: none;
    color: red;
    flex-direction: row-reverse;
    right: 6vw;
    top: 15vh;
}
.sectionvinho {
    background-color: rgb(243, 243, 243);
    display: flex;
    height: 82vh;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.direita{
    padding: 0;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.gap{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.gap2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.gap2 p{
    max-width: 600px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}
.imgvinho{
    height: 65vh;
}
.titulo{
    font-size: 32px;
    font-weight: 900;
}
.price{
    font-size: 28px;
    font-weight: 700;
    color: black;
    margin: 0;
}
.gap a {
    margin-top: 5px;
    background-color: rgb(122, 16, 16);
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.gap a:hover {
    background-color: rgb(75, 10, 10);
}
/* Section2 */
.section2{
    height: 40vh;
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}
.caracteristicas{
    border-top: #ac854c solid 2px;
    border-bottom: #ac854c solid 2px;
    width: 65vw;
    padding: 10px;
    height: 35vh;
    display: flex;
    flex-direction: column;
}